<div class="id">
<div class="tble">
    <h2 style="color:rgb(66, 38, 112);text-align: center; ;font-family: Arial sans-serif; font-weight: 100;"><i class="fa-solid fa-graduation-cap"></i>&nbsp;
        Education Details
    </h2>
<table class="table table-dark table-striped" style="font-size: 20px;font-family: Arial sans-serif; font-weight: 50;">
    
    <thead class="table table-dark table-striped" style="margin-left:15px" >
      <tr >
        <th scope="col">S.No</th>
        <th scope="col">Education</th>
        <th scope="col">Institute</th>
        <th scope="col">Grade or Per</th>
        <th scope="col">Passing Year</th>
      </tr>
    </thead>
    <tbody  style="font-size: 20px;font-family: Arial sans-serif; font-weight: 50;" class="table table-secondary table-striped">
      <tr>
        <th scope="row">1</th>
        <td>MCA</td>
        <td>Manipal university Jaipur</td>
        <td>Pursuing</td>
        <td>2023-25</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>BCA</td>
        <td>Patliputra university Patna</td>
        <td>75.5%</td>
        <td>2022</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>12th</td>
        <td>BSEB</td>
        <td>72%</td>
        <td>2019</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>10th</td>
        <td>BSEB</td>
        <td>74.8%</td>
        <td>2017</td>
      </tr>
    </tbody>
 
  </table>
</div>
</div>