.tble
{
   padding: 12% 0;
   margin-left: 8%;;
  
   margin-right: 8%;
}

@media only screen and (max-width: 600px)
{
  .tble
    {
      margin-top: 10%;
    }
}
.id
{
  background-color: rgb(135, 182, 182);
  height: 100vh;
}