<div class="skills">
    <h2 style="color:rgb(66, 38, 112);;text-align: center;"><i class="fa-sharp fa-solid fa-laptop"></i>&nbsp;Skills</h2>
    <table class="table table  table-striped">
        <thead  style="font-size: 20px;" class="table table-dark  table-striped">
            <tr >
              <th scope="col">S.No</th>
              <th scope="col">Languages</th>
              <th scope="col">Skills</th>
              <th scope="col">Framework</th>
            </tr>
          </thead>
          <tbody class="table table-success  table-striped" style="font-size: 20px; font-family:  Arial sans-serif;">
            <tr>
              <th scope="row">1</th>
              <td>Core Java</td>
              <td>DSA</td>
              <td>Angular</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Adv Java</td>
              <td>Problem Solving</td>
              <td>Spring</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td >C++</td>
              <td >JDBC</td>
              <td>Spring Boot</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td >C</td>
                <td>Mysql&Oracle</td>
                <td>Bootstrap</td>
              </tr>
          </tbody>
      </table>
</div>