<div class="projects">
    <h1 style="text-align: center;color:rgb(92, 92, 133);">Projects</h1>
    <div class="container">
        <div class="row row-cols-2" style="font-size: 25px; font-family:Arial, Helvetica, sans-serif;">
            <div class="shadow p-3 mb-5 bg-body rounded" class="col1" style="color:rgb(163, 165, 159);">
                <p>Mini projects for medical shop in
                    which medicines are stored in database
                    and perform operation acoording to users.
                    we used swing,Jdbc,oops concept for it.
                </p>
                <span class="btn" style="color:rgb(99, 58, 119);cursor: pointer; font-size: 40px; margin-left: 30%;"> <i
                        class="fa-regular fa-eye"></i></span>View
            </div>

            <div class="col2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora nostrum quo corrupti esse eligendi
                incidunt nobis, dolorem, iste nesciunt illum, voluptate quae autem ullam alias vitae ea delectus error
                distinctio!
            </div>
            
        </div>
    </div>
</div>