<div class="about">
<div class="container">
    <section class="child">
        <img src="./assets/images/mypic1.jpg">
    </section>
    <section class="child" class="col1" >
      
        <p class="" style="font-size: 30px; margin: 20% 5%;"> <span style="color: rgb(161, 192, 192);font-style: italic;font-family: sans-serif,serif; font-size: 40px;">About Me</span><br>Hi , I am <span style="color:brown;font-size: 40px; ">Sandeep</span> and I am pursuing MCA<br> from Manipal University Jaipur(2023-25)
            And <br>I am continue work on develop problem skills.
            I am very interested to solve problem.
   
        </p>
    </section>


</div>
</div>
